<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editjob</title>
</head>
<body>
    <form action="editjob" ></form>
    <center>
    <h1>Edit the Job Details</h1> 
    <form  method="post">
         {%csrf_token %}
        Job Title : <input type="text" name="job_title" placeholder="Job Title" value="{{edit.title}}"><br><br>
        Start Date : <input type="date" name="start_date" placeholder="Start Date" value="{{edit.start_date}}"><br><br>
        End Date : <input type="date" name="end_date" placeholder="End Date" value="{{edit.end_date}}"><br><br>
        Experience (in Year): <input type="text" name="exp" placeholder="Experience" value="{{edit.experience}}"><br><br>
        Qualification : <input type="text" name="qualification" placeholder="qualification" value="{{edit.qualification}}">
        Vacancy Available:<input type="text" name="vacancy" placeholder="Available vancany" value="{{edit.vacancy}}"><br><br>
        Salary (Per Month) : <input type="tel" name="salary" placeholder="Salary per Month" value="{{edit.salary}}"><br><br>
        Skill required : <input type=" text" name="skills" placeholder="Skill Required" value="{{edit.skills}}"><br><br>
        Job Location :<input type="text" name="Location" placeholder="Company Location" value="{{edit.location}}"><br><br>
        <label>Job Discription :</label>
        <textarea name="description" placeholder="Description of the exact job" value="{{edit.description}}"></textarea><br><br>

    <input type="submit" value="update">

    
</form>
</center>


</body>
</html>